.checkout-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  min-height: 330px;
  padding: 30px;
  font-size: 72px;
  font-weight: 500;
  color: white;
  background-image: linear-gradient(rgb(19, 127, 163), rgb(6, 44, 57));
}

.cart-list {
  background-color: #eeeeee;
  border: 4px solid #d3d3d3;
  color: #3d3d3d;
  border-radius: 20px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-height: 200px;
  margin: 30px;
}

.cart-item {
  background-color: white;
  box-shadow: 0px 0px 8px 5px #c1c1c1;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
}

.item-name-desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price-and-remove {
  margin-left: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.remove-from-cart {
  height: 24px;
  background: #ff4040;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.cart-item-image {
  width: 110px;
  height: auto;
  border-radius: 5px;
  object-fit: fill;
}

.total-and-place-order {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: end;
}
.total {
  display: flex;
  gap: 10px;
}

.cart-total-title {
  color: #454545;
}

.cart-total {
  color: rgb(0, 70, 0);
  font-weight: 400;
}

.place-order-button {
  font-size: 32px;
  font-weight: 500;
  color: rgb(0, 70, 0);
  background-color: #e2ffe9;
  border-radius: 8px;
  border: 2px solid rgb(0, 70, 0);
  padding: 8px 16px;
  cursor: pointer;
  &:hover {
    background-color: #cdeed4;
  }
}
