.menu-section {
  height: 200px;
  background-image: url("/public/Frame_8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin-top: 0px;
  min-height: 330px;
}

.menu-page {
  padding: 20px;
  background-color: #ffffff;
}

.menu-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.product-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 85%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 1.25rem;
  margin: 40px 0;
  color: #333;
}

.product-card p {
  font-size: 0.9rem;
  color: #666;
  margin: 10px 0;
  line-height: 1.4;
}

.product-card .price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #00796b;
  margin: 10px 0;
}

.add-to-cart-btn {
  background-color: #183d82;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

.add-to-cart-btn:hover {
  background-color: #0a1f51;
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
